*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
#container
{
    display: flex;
    flex-direction: column;
}
#list{
    position: absolute;
    bottom:0px;
    padding-left:40px;
    padding-right:40px;
    z-index: 10000;
    display: flex;
    height: 32vh;
    width: 100vw;
    overflow-x: hidden;
    white-space: nowrap;
    background-color: #FFFADF;
}


.tracks{
    display:flex;
    flex-direction: row;
    padding:5;
    margin:5;
    z-index: 100;
    list-style: none;
}
.track-image
{
    height:20vh;
    width:20vw;
    background-color: white;
    opacity: 0.8;
    transform: scale(0.9);
    z-index: 100000;

}
.track-image:hover
{
    transform: scale(1);
    opacity:1;
}
#map{
    height:100vh;
    width:100vw;
}
.item
{
    padding:10px;
    height:12vh;
    margin-bottom:0;
}
.trackName{
    z-index: 10000;
    padding: 2px;
    color:#2B1D1B ;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Secular One";
}

#compress{
    z-index:100000;
    position: absolute;
    bottom:2vh;
    left:48vw;
    height:40px;
    width:40px;
}
#expand{
    z-index:100000;
    position: absolute;
    height:40px;
    width:40px;
    bottom:2vh;
    left:50vw;
}
#left-scroll
{
    z-index:100000;
    position: absolute;
    height:50px;
    width:35px;
    bottom:10vh;
    left:0vw;
}
#left-scroll:hover
{
    cursor: pointer;    
}
#right-scroll
{
    z-index:100000;
    position: absolute;
    height:50px;
    width:35px;
    bottom:10vh;
    right:0vw;
}
#right-scroll:hover
{
    cursor: pointer;
}
#image{
    z-index:10000;
}
a{
    text-decoration: none;
    font-family: "PT sans";
    font-size:20;
    font-weight: 800;
    color:black;
    margin-bottom:20;
   
}  
.leaflet-popup-content{
    width: 170px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.leaflet-popup-content-wrapper .leaflet-popup-content
{
  border-radius: 5px;
  padding:0;
  transform: scale(0.45);
}
.leaflet-top, .leaflet-bottom {
    position: absolute;
    z-index: 10;
    pointer-events: none;
}


